<p id="notice"><%= notice %></p>
<div class="d-flex flex-nowrap bd-highlight">
  <div class="container">
    <% @categories.each do |category| %>
    <hr>
      <div class="list group-item">
        <div>
          <strong><%= t('product.index.title') %></strong>
        </div>
        <div><%= category.title %></div>
        <div>
          <strong><%= t('product.index.description') %></strong>
        </div>
        <div><%= category.description %> </div>
        <div class="d-flex flex-row-reverse">
          <span class="border border-dark rounded">
            <%= link_to "#{t('product.index.edit')}", edit_admin_category_path(category),
                                                      class:"btn btn-light"%>
            <%= link_to "#{t('product.index.destroy')}", admin_category_path(category),
                                                         method: :delete,
                                                         data: { confirm: 'Are you sure?' },
                                                         class:"btn btn-light"%>
          </span>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
<br>
