<%= form_with(model: [ :admin, @product ], local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <strong><%= form.label :title %></strong>
    <%= form.text_field :title, class: "form-control"%>
  </div>
    <p></p>

  <div class = "field">
    <strong><%= form.label :description %></strong>
    <%= form.rich_text_area :description, class: "form-control"%>
  </div>
  <p></p>
  <%= form.select :category_id, Category.all.pluck(:title,:id),{class: "form-control"}%>
  <p></p>

  <div class = "field">
    <strong><%= form.label :price %></strong>
    <%= form.text_field :price, class: "form-control"%>
  </div>
  <p></p>

  <div class = "field">
    <strong><%= form.label :image %></strong>
    <p><%= form.file_field :images,  multiple: true%></p>
  </div>
  <p></p>

  <div class="actions">
    <%= form.submit :"#{t('category.new.done')}", class: "btn btn-success btn-sm btn-block"  %>
  </div>
    <p></p>
<% end %>
