<%= form_with(model: [ :admin, @product ], local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id = "error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <strong><%= form.label :"Title:"%></strong>
    <%= form.text_field :title, class: "form-control"%>
  </div>
    <p></p>

  <div class = "field">
    <strong><%= form.label :"Description:" %></strong>
    <%= form.rich_text_area :description, class: "form-control"%>
  </div>
  <p></p>

  <%= form.select :category_id, Category.all.pluck(:title,:id),{class: "form-control"}%>
  <p></p>

  <div class = "field">
    <strong><%= form.label :"Price:"%></strong>
    <%= form.text_field :price, class: "form-control"%>
  </div>
  <p></p>

  <div class = "field">
    <strong><%= form.label :"Image:"%></strong>
    <%= form.file_field :images,  multiple: true, class: "form-control"%>
  </div>
  <p></p>

  <div class="actions">
    <%= form.submit :Done, class: "btn btn-primary btn-sm"  %>
  </div>
    <p></p>
<% end %>
