<div class="containerr container">

  <div class="second_child">
    <table class="table">
      <tr>
        <td></td>
        <td><strong><%= t("product.index.title") %></strong></td>
        <td><strong><%= t("product.index.category") %></strong></td>
        <td><strong><%= t("product.index.price") %></strong></td>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <% if product.images? %>
            <td><%= image_tag product.images.first.url(:thumb) %></td>
          <% end %>
          <td><%= product.title %></td>
          <td><%= Category.find(product.category_id).title %></td>
          <td><%= product.price %></td>
          <td class="d-flex flex-row-reverse">
            <span class="border border-dark rounded">
              <%= link_to "#{t("product.index.show")}", admin_product_path(product),
                                                        class:"btn btn-light" %>
              <%= link_to "#{t("product.index.edit")}", edit_admin_product_path(product),
                                                        class:"btn btn-light"%>
              <%= link_to "#{t("product.index.destroy")}", admin_product_path(product),
                                                           method: :delete,
                                                           data: { confirm: 'Are you sure?' },
                                                           class:"btn btn-light"%>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
