<h2 align = "center"><%= t("cart.show.order") %></h2>
<div class = " container w-25 p-3 ">
  <%= form_for(@order) do |f| %>
    <div class = "form-group">
      <strong><%= f.label :"#{t('order.index.name')}" %></strong><br>
      <%= f.text_field :name, required: true, autofocus: true, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <strong><%= f.label :Email %></strong><br>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <strong><%= f.label :"#{t('order.index.address')}" %></strong><br>
      <%= f.text_area :address, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <%= f.submit :"#{t('cart.show.order')}", class: "btn btn-success btn-sm btn-block"  %>
    </div>
  <% end %>
</div>
