<h3><%= t("cart.show.cart") %></h3>
<table class="table">
  <% @cart.cart_items.each do |cart_item| %>
   <tr>
     <td><%= image_tag cart_item.product.images.first.url(:thumb) %> <%= cart_item.product.title%></td>
      <td>
        <%= link_to " ", cart_item_reduce_path(:id => cart_item),
                           method: :post,
                           class:"fas fa-minus nav-link",
                           style:"color: #000;" %>
        <span class="border border-dark rounded p-2">
          <%= cart_item.quantity %>
        </span>
        <%= link_to " ", cart_item_add_path(:id => cart_item),
                         method: :post,
                         class: "fas fa-plus nav-link",
                         style:"color: #000;" %>
      </td>
      <td><%= cart_item.total_price %> <i class="fas fa-hryvnia"></i></td>
      <td>
        <%= link_to " ", cart_item_path(cart_item),
                           method: :delete,
                           class: "fas fa-times nav-link",
                           style:"color: #000;",
                           data: {confirm: "Are you sure?"} %>
     </td>
   </tr>
  <% end %>
</table>
<hr>
<h5 align = "right"><%= t("cart.show.sum") %>: <%= @cart.sub_total %> <i class="fas fa-hryvnia"></i></h5>

<div class="" align = "right">
  <%= link_to "#{ t("cart.show.order")}", new_order_path, class:"btn btn-success" %>
</div>
