<br>
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-xl-3 col-md-3 col">
      <div><%= product.title %></div>
      <div>
        <strong>Category:</strong>
      </div>
      <div>
        <%= Category.find(product.category_id).title %>
      </div>
      <div>
        <%= image_tag product.image.url(:thumb), class: "img-show" if  product.image? %>
      </div>
      <hr>
      <div>
        <%= link_to 'Show', product, class:"btn btn-primary" %>
        <%= link_to 'Buy', product, class:"btn btn-outline-primary" %>
      </div>
    <br>
    </div>
  <% end %>
</div>
<br>
<div class="row justify-content-center" >
  <%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
</div>
