<br>
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-lg-3 col-xl-3 col-md-3 col">
      <div><%= product.title %></div>
      <div>
        <strong><%= t('product.index.category') %></strong>
      </div>
      <div>
        <%= Category.find(product.category_id).title %>
      </div>
      <div>
        <% if product.images? %>
          <%= image_tag product.images.first.url(:thumb) %>
        <% end %>
      </div>
      <hr>
      <div>
        <%= link_to "#{t('product.index.show')}", product, class:"btn btn-primary" %>
        <%= link_to "#{t('product.index.buy')}", product, class:"btn btn-outline-primary" %>
      </div>
    <br>
    </div>
  <% end %>
</div>
<br>
<div class="row justify-content-center" >
  <%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer%>
</div>
