<div class="container alert alert-light">

  <h1 class="mt-4"><%= @product.title %></h1>
  <div>
    <%= Category.find(@product.category_id).title %>
  </div>
  <hr>
  <p>
    <%= @product.description %>
  </p>
  <hr>

  <p>
    <% @product.images.each do |images| %>
       <%= image_tag images.url(:large) %>
    <% end %>
  </p>

  <%= link_to "#{t('product.show.back')}", product_index_path, class:"btn btn-primary"%>
  <%= link_to "#{t('product.index.buy')}", product_index_path, class:"btn btn-outline-primary"%>
</div>
