<div class="d-flex bd-highlight">

  <div class="p-3 flex-fill bd-highlight">
    <% @product.images.each do |images| %>
    <%= image_tag images.url(:small), class:"p-1 bd-highlight" %>
    <% end %>
  </div>

  <div class="p-2 flex-fill bd-highlight">
    <% if @product.images? %>
      <%= image_tag @product.images.first.url(:large)%>
    <% end %>
  </div>

  <div class="p-2 flex-fill bd-highlight">
    <h2 class="mt-4 " align = "center"><%= @product.title %></h2>
    <div class="d-flex float-right " align = "right">
      <span class="border border-dark rounded" style = "padding: 30px 40px;">
        <div ><%= @product.price %> <i class="fas fa-hryvnia"></i></div>
        <br>
        <%= button_to "#{t('product.index.buy')}", cart_items_path(:product_id => @product.id),
                                                   class:"btn btn-success btn-block btn-sm" %>
      </span>
    </div>
    <br><br><br><br><br>
    <strong><%= t('product.index.category')%>:</strong>
    <i class = "text-muted"><%= Category.find(@product.category_id).title %></i>
    <hr>
    <strong><%= t('product.index.description')%>:</strong>
    <p>
      <%= @product.description %>
    </p>
  </div>
</div>

<hr style="background-color: #000;" >
<hr style="background-color: #000; height: 1px;" >

<h4 class = "container"><%= t('product.show.comments')%>:</h4>
<% @product.comments.each do |comment| %>
  <div class="container alert alert-lite contr border border-dark  p-3" >
    <p>
      <i class="fas fa-user"></i> <%=User.find_by_id(comment.user_id).email%>
      <i class=" alert-light"> <%= comment.created_at %></i>
      <i class="fas fa-star"> </i> <%= comment.rating %>
    </p>
    <p><i class = "far fa-edit"></i> <%= comment.body %></p>
    <p><i class="fas fa-plus"></i> <%= comment.plus %></p>
    <p><i class="fas fa-minus"></i> <%= comment.minus %></p>
    <br>

  </div>
<% end %>

<div class="container new_comment_form">
  <div class="coments" id="form_new">
    <div id="form_comment">
      <% if current_user %>
        <h4><%= t('product.show.comment')%></h4>
        <%= form_with(model: [ @product, @product.comments.build ]) do |form| %>




          <p>
            <% 5.times do |i| %>
              <%= form.radio_button(:rating, i+1) %>
            <% end %>
          </p>








          <p>
                      <%= form.label :comment %><br>
                      <%= form.text_area :body, class:'form-control' %>
                    </p>
                    <p>
                      <%= form.label :plus %><br>
                      <%= form.text_area :plus, class:'form-control' %>
                    </p>
                    <p>
                      <%= form.label :minus %><br>
                      <%= form.text_area :minus, class:'form-control' %>
                    </p>
          <p>
            <%= form.submit "#{t('product.show.publish')}", class:'btn btn-success btn-sm ' %>
          </p>
        <% end %>
      <% else %>
        <i><%= t('product.show.signup')%>.</i>
      <% end %>
    </div>
  </div>
</div>
